node_modules/
.env
.env.txt
.env.local
.env.*.local
!.env.example
.tmp-emoji-import/
*.log
tmp-start.*
publish.out.log
publish.err.log
bot.out.log
bot.err.log
app.generated.yaml
data/warnings.json
data/levels.json
data/giveaways.json
bot.out.log
bot.err.log
npm-debug.log*
discord-autosender/config.json
discord-autosender/node_modules/
desktop.ini
publish.err.log
publish.out.log


deploy/*.local.txt
deploy/*.zip
